name: test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.1

    - name: Checkout code
      uses: actions/checkout@v5

    - name: Run tests
      run: go test -v ./... -coverprofile=coverage.out -covermode=atomic

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v8.0.0
